<head>
<title>
1.5.1.  ClassMarker
</title>
</head>
<body bgcolor="white">
<a name="EasyTestTaker">
<h4>
1.5.1.  ClassMarker
</h4>
</a>
<p>
 ClassMarker is an online testing tool that has a ton of useful features, such as recording statistics for each test. However, it is mostly geared towards business and general education, rather than programming. 
 Surprisingly, it doesn’t offer the option of matching questions, but has options for every other type of question (except coding). 
 Overall, it looks like a useful tool that has the potential to have coding questions, if the teacher is willing to manually grade each coding question.
</p><p>
<strong>Good Features:</strong>
</p><ul>
<li>
Online tool
</li><li>
M/C, T/F, fill-in-blanks, Essay
</li><li>
Able to randomly generate tests from question bank
</li><li>
Able to categorize questions and edit settings for randomization
</li><li>
Automatic grading w/ option to edit grades manually
</li><li>
Able to shuffle questions
</li><li>
Free option (100 tests per month)
</li></ul>
<p>
<strong>Bad Features:</strong>
</p><ul>
<li>
Must pay to be able to give more tests
</li><li>
Must use essay section for coding questions and manually grade them
</li></ul>
<p>
<strong>Missing Features:</strong>
</p><ul>
<li>
No matching questions
</li><li>
Unable to give automatically graded coding questions
</li></ul>


<br>
<br>

<br>
<br>
<br>
<br>
<!--
<hr size="3" width="80%">
<center>
<font size="-1">
<font color="black"> Prev: </font>[none]
 | <font color="black"> Next: </font><a href="ical-review.html">ical-review</a>
 | <font color="black"> Up: </font><a href="related.html">related</a>
 | <font color="black"> Top: </font><a href="index.html">index</a></font>
</center>
<hr size="3" width="80%">
-->

</body>
