<head>
<title>
1.5.1.  EasyTestTaker
</title>
</head>
<body bgcolor="white">
<a name="EasyTestTaker">
<h4>
1.5.5.  EasyTestTaker
</h4>
</a>
<p>
EasyTestMaker is an online test generator to help professors create, format and grade tests. It creates tests satisfactorily, but could be improved. Tests are easily formatted and questions movable to eliminate wasted time. Also, created tests are saved, so a new test can copy an old test’s questions (however, questions aren’t saved individually in a Question Bank). Overall, EasyTestMaker provides an acceptable level of test-taking functionality.
</p><p>
<strong>Good Features:</strong>
</p><ul>
<li>
Grades tests automatically
</li><li>
All basic test questions types provided
</li><li>
Alternative versions reduce cheating (automatically created)
</li><li>
Export to Word or PDF (or publish online)
</li><li>
Built-in spell check eliminates accidental misspellings
</li></ul>
<p>
<strong>Bad Features:</strong>
</p><ul>
<li>
Relies on copying questions from one test to another instead of using a question bank
</li><li>
Need to pay for better features
</li><li>
Doesn't seem to limit who takes the test
</li></ul>
<p>
<strong>Missing Features:</strong>
</p><ul>
<li>
Question bank
</li><li>
Importing questions functionality
</li><li>
Coding question type
</li><li>
No apparent support for group tests
</li><li>
Statistics for test-takers
</li></ul>


<br>
<br>

<br>
<br>
<br>
<br>
<!--
<hr size="3" width="80%">
<center>
<font size="-1">
<font color="black"> Prev: </font>[none]
 | <font color="black"> Next: </font><a href="ical-review.html">ical-review</a>
 | <font color="black"> Up: </font><a href="related.html">related</a>
 | <font color="black"> Top: </font><a href="index.html">index</a></font>
</center>
<hr size="3" width="80%">
-->

</body>
