<head>
<title>
1.5.3.  Hacker Rank
</title>
</head>
<body bgcolor="white">
<a name="Hacker Rank">
<h4>
1.5.3.  Hacker Rank
</h4>
</a>
<p>
Hacker Rank was not designed to be a  traditional online test taking tool but an interview screener tool. It’s main goals are to help source and hire programmers by replacing unnatural career-fairs and connect with engineers through coding challenges. Hacker Rank includes a built-in code checker and also real time code validation. Additionally, Hacker Rank automatically assesses and scores candidates performance on coding challenges. It comes with a very clean and polished user interface and supports most features compared to other test taking programs.</p><p>
<strong>Good Features:</strong>
</p><ul>
<li>
Has its own IDE which supports numerous languages
</li><li>
Can compile and run your code from the platform
</li><li>
Will run code with provided test cases (if provided)
</li><li>
Easily create m/c, true/false, fill-in, and coding questions
</li></ul>
<p>
<strong>Bad Features:</strong>
</p><ul>
<li>
14 Day Trial
</li><li>
Not exactly a test taking platform, more of a screening platform
</li><li>
Must be a company to start a free trial
</li></ul>
<p>
<strong>Missing Features:</strong>
</p><ul>
<li>
Offline test taking not possible
</li><li>
Unable to add test questions to a bank 
</li><li>
Unable to generate test questions from a database or import.
</li><li>
No apparent support for group tests
</li></ul>


<br>
<br>

<br>
<br>
<br>
<br>
<!--
<hr size="3" width="80%">
<center>
<font size="-1">
<font color="black"> Prev: </font>[none]
 | <font color="black"> Next: </font><a href="ical-review.html">ical-review</a>
 | <font color="black"> Up: </font><a href="related.html">related</a>
 | <font color="black"> Top: </font><a href="index.html">index</a></font>
</center>
<hr size="3" width="80%">
-->

</body>
