<head>
<title>
1.5.4.  Hot Potatoes
</title>
</head>
<body bgcolor="white">
<a name="Hot Potatoes">
<h4>
1.5.4.  Hot Potatoes
</h4>
</a>
<p>
Hot Potatoes is a software suite of six applications: JCloze, JQuiz, JCross, JMatch, JMix, The Masher. This suite, developed by Half-Baked Software, is used essentially as a test generation tool. These six applications offer the user a variety of types of questions to choose while generating tests. There is a website that allows users of this software to store results of their tests and essentially create a virtual learning environment. While there are are a lot of good features that this software has, it is also missing a lot of features that other similar programs have.


<br>
<br>
Overall, Hot Potatoes provides an acceptable level of test-taking functionality.
</p>
<p>
<strong>Good Features:</strong>
</p>
<ul>
	<li>Simple user interface</li>
	<li>Has a variety of different types of questions to create</li>
	<li>Has an external website to store results and distribute tests/grades</li>
	<li>Provides numerous options considering many different question attributes when creating questions (e.g. attaching photos, audio, time, etc.) </li>
	<li>Simple and automatic grading system</li>
	<li>Can export test to PDF or word or publish online</li>
	<li>Having usernames to allow multiple users</li>
	<li>Free</li>
</ul>
<p>
<strong>Bad Features:</strong>
</p>
<ul>
	<li>Coding questions would have to be done through short-answer and thus, graded manually</li>
	<li>No question bank</li>
	<li>Tests have to be created manually</li>
	<li>Website features are separate from the software</li>
	<li>Using the website requires user to pay</li>
</ul>
<p>
<strong>Missing Features:</strong>
</p>
<ul>
	<li>No specific option for coding questions</li>
	<li>Unable to automatically generate tests from a database or import</li>
	<li>No group tests</li>
</ul>

<br>
<br>

<br>
<br>
<br>
<br>
<!--
<hr size="3" width="80%">
<center>
<font size="-1">
<font color="black"> Prev: </font>[none]
 | <font color="black"> Next: </font><a href="ical-review.html">ical-review</a>
 | <font color="black"> Up: </font><a href="related.html">related</a>
 | <font color="black"> Top: </font><a href="index.html">index</a></font>
</center>
<hr size="3" width="80%">
-->

</body>
