<head>
<title>
1.5.2.  ProProfs
</title>
</head>
<body bgcolor="white">
<a name="EasyTestTaker">
<h4>
1.5.2.  ProProfs
</h4>
</a>
<p>
ProProfs is an online test generator tool. The tool is pretty basic with minimal options for test creation. 
The perks of this tool is that the teacher managing the quizzes can also manage the students taking it. 
Teachers have the options of seeing the grade breakdown and also the students who have taken the tests. 
The disadvantages of this tool is that teachers are unable to automatically generate the tests. 
This is a paid tool that focuses more on the classroom setting as opposed to the test generator.
</p><p>
<strong>Good Features:</strong>
</p><ul>
<li>
Can import questions from excel
</li><li>
M/C, checkbox, fill-in-blanks, T/F, Matching, (Essay, Text, Document)
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li>Point value to each question</li>
</li><li>
Online tool
</li><li>
Edit classroom for security and manage student activities
</li><li>
Grades tests for you
</li>
<li>
Has a report card data and other data about test
</li><li>
Solid security where students must create new accounts
</li></ul>
<p>
<strong>Bad Features:</strong>
</p><ul>
<li>
15 day trial
</li><li>
Minimal test option features
</li><li>
Teachers will have to manually create tests
</li></ul>
<p>
<strong>Missing Features:</strong>
</p><ul>
<li>
Unable to ask coding questions
</li><li>
Unable to automatically generate tests
</li></ul>


<br>
<br>

<br>
<br>
<br>
<br>
<!--
<hr size="3" width="80%">
<center>
<font size="-1">
<font color="black"> Prev: </font>[none]
 | <font color="black"> Next: </font><a href="ical-review.html">ical-review</a>
 | <font color="black"> Up: </font><a href="related.html">related</a>
 | <font color="black"> Top: </font><a href="index.html">index</a></font>
</center>
<hr size="3" width="80%">
-->

</body>
